@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: 'Raleway', sans-serif;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --color-primary: #7541FE;
  --color-accent: #198E7B;
  --color-cream: #FFFDEE;
  --color-red-orange: #FF4710; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: var(--font-sans);
  background: var(--color-background);
  color: var(--color-foreground);
}
